.title {
  font-family: 'BNChester';
  font-size: rem(40);
  line-height: calc(41 / 40);
  text-align: center;
  letter-spacing: 0.005em;
  color: $mainColor;
  span {
    color: $accentColor;
  }
}

.btn {
  padding: rem(12) rem(34);
  border: rem(2) solid $accentColor;
  border-radius: rem(8);
  font-weight: 700;
  text-transform: uppercase;

  &--white {
    background-color: #fff;
    color: $mainColor;
  }
}

.box {
  min-width: rem(170);
  flex: 1;

  &__img {
    display: block;
    margin: 0 auto;
    height: rem(75);
  }
  &__title {
    font-weight: 600;
    font-size: rem(18);
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    margin: rem(49) 0 rem(17);
  }

  &__descr {
    font-weight: 400;
    line-height: 170%;
    text-align: center;
    color: $secondColor;
  }
}

.tabs {
  &__navigation {
    flex-wrap: wrap;
    font-weight: 400;
    line-height: calc(19 / 16);
  }

  &__title {
    border: none;
    text-transform: uppercase;
  }
  ._tab-active {
    border: none;
    color: $accentColor;
  }

  &__content {
    padding: rem(18) 0;
    border: none;
  }

  &__body {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: rem(30);
    row-gap: rem(20);
    img {
      flex: 1;
    }
    &[hidden] {
      display: none;
    }
  }
}
