//====================================================================================================

//====================================================================================================

.header {
  position: relative;
  z-index: 10;
  &__inner {
    display: flex;
    align-items: center;
    min-height: rem(101);
    font-weight: 500;
    @include adaptiveValue('gap', 68, 40);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $mobile) {
      position: fixed;
      top: rem(101);
      right: -100%;
      width: 80vw;
      height: calc(100vh - rem(101));
      background-color: $accentColor;
      transition: all 0.3s linear;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      .menu-open & {
        right: 0;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      @include adaptiveValue('gap', 48.5, 30);

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }

    &-item {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: rem(-3);
        left: 50%;
        display: block;
        background-color: $accentColor;
        width: 0;
        height: rem(2);
        transition: all 0.3s linear;
      }

      &:hover {
        color: $accentColor;
        &::after {
          width: 100%;
          left: 0;
        }
      }

      @media (max-width: $mobile) {
        font-size: rem(24);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    @include adaptiveValue('gap', 45, 30);
    line-height: calc(19 / 16);

    @media (max-width: $mobile) {
      flex-direction: column;
      font-size: rem(22);
    }
  }

  &__leng {
    background-color: transparent;
    option {
      background-color: inherit;
    }

    @media (max-width: $mobile) {
      font-size: rem(20);
    }
  }
}

//Burger
.icon-menu {
  display: none;
  margin-left: auto;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
