.services {
  padding: rem(80) 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
    justify-content: space-between;
    margin: rem(84) 0;
    gap: rem(30);
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}
